In [6]:
# Import required libraries 
import pandas as pd
import numpy as np
from pathlib import Path

In [15]:
# Import the random OHLCV dataset into a Pandas Dataframe
trading_df = pd.read_csv(
    Path("./emerging_markets_ohlcv.csv"),
    index_col="date",
    infer_datetime_format=True,
    parse_dates=True
)

# Display sample data
trading_df.head()

                      open   high    low  close  volume
date
2015-01-21 09:30:00  23.83  23.83  23.83  23.83     100
2015-01-21 11:00:00  23.98  23.98  23.98  23.98     100
2015-01-22 15:00:00  24.42  24.42  24.42  24.42     100
2015-01-22 15:15:00  24.42  24.44  24.42  24.44     200
2015-01-22 15:30:00  24.46  24.46  24.46  24.46     200

In [16]:
trading_df["actual_returns"]= trading_df["close"].pct_change()
trading_df.head()

                      open   high    low  close  volume  actual_returns
date
2015-01-21 09:30:00  23.83  23.83  23.83  23.83     100             NaN
2015-01-21 11:00:00  23.98  23.98  23.98  23.98     100        0.006295
2015-01-22 15:00:00  24.42  24.42  24.42  24.42     100        0.018349
2015-01-22 15:15:00  24.42  24.44  24.42  24.44     200        0.000819
2015-01-22 15:30:00  24.46  24.46  24.46  24.46     200        0.000818

In [17]:
trading_df=trading_df.dropna()
trading_df.head()

                      open   high    low  close  volume  actual_returns
date
2015-01-21 11:00:00  23.98  23.98  23.98  23.98     100        0.006295
2015-01-22 15:00:00  24.42  24.42  24.42  24.42     100        0.018349
2015-01-22 15:15:00  24.42  24.44  24.42  24.44     200        0.000819
2015-01-22 15:30:00  24.46  24.46  24.46  24.46     200        0.000818
2015-01-26 12:30:00  24.34  24.34  24.33  24.33     200       -0.005315

In [ ]:
"""We need to define our trading startegy i.e SMA"""

In [ ]:
# Assign a copy of the `sma_fast` and `sma_slow` columns to a new DataFrame called `X`
X = trading_df[['our_trading_strategy, twitter_trends and whatever']].shift().dropna().copy()

# Display sample data
display(X.head())

In [18]:
# Create the signal to buy
trading_df.loc[(trading_df['actual_returns'] >= 0), 'signal'] = 1

# Create the signal to sell
trading_df.loc[(trading_df['actual_returns'] < 0), 'signal'] = -1

""" I think that since its a High Freq Trading we should  assume that successful trades are the ones that cover the costs of trade,"""
"""I need to amend actual returns columns for a signal  """

'I need to amend actual returns columns for a signal  '

In [ ]:
# Copy the new "signal" column to a new Series called `y`.
y = trading_df['signal'].copy()

In [ ]:
# Split the data into train and test 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split (X,y)

y_train_value_counts 


# We can use imbalanced classes, oversampling or undersampling techniques if needed

In [ ]:
# Import the required module
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()

# Apply the scaler model to fit the X_train data
X_scaler = scaler.fit(X_train)

# Transform the X_train and X_test DataFrames using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
#Logistic Regression model 
# Create the classifier model
model = LogisticRegression()

# Fit the model to the data using X_train_scaled and y_train
model = svm_model.fit(X_train_scaled, y_train)

# Use the trained model to predict the trading signals for the training data
training_signal_predictions = model.predict(X_train_scaled)

# Display the sample predictions
training_signal_predictions[:10]

In [19]:
# Import the required module
from sklearn.metrics import classification_report, confusion_matrix

# Evaluate the model using a classification report
training_report = classification_report(y_train, training_signal_predictions)
print(training_report)

training_matrix= confusion_matrix(y_train, training_signal_predictions)

NameError: name 'y_train' is not defined

In [ ]:
# RNN using LSTM model